[Desktop Entry]
Type=Application
Name=HID Descriptor Tool
Comment=Create, edit and validate USB HID Report Descriptors
Exec=wine start /unix {{ install_dest_full }}/Dt.exe %f
MimeType=application/x-ms-dos-executable;
Icon={{ icon_file_full }}
Categories=Development;Engineering;
Terminal=false
StartupNotify=true
